#aboutSection{
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vh 0vh 10vh;
    font-size: 5vh;
    font-weight: 500;
    color: #252A34;
}

#aboutArea{
    display: flex;
    width: 100%;
    height: 90vh;
    padding: 10vh 0 10vh 0;
    justify-content:space-around;
    align-items: center;
}

.aboutContainer{
    background-color: #08D9D6;
    transform: rotate(20deg);
}

.about{
    display: flex;
    flex-direction: column;
    padding: 5vh;
    height: fit-content;
    font-size:xx-large;
    background-color: #252A34;
    color: #EAEAEA;
    transition-duration: .2s;
    transform: rotate(-20deg);
}

.aboutContainer h1{
    transform: rotate(-30deg);
    font-size: 10vh;
    font-family: "Permanent Marker", cursive;
    color: #252A34;
    padding-bottom: 5vh;
}

.about:hover{
    background-color: #FF2E63;
    color: #252A34;
}

#imgContainer{
    background-color: #FF2E63;
    transform: rotate(-20deg);
}

#imgContainer img{
    transform: rotate(20deg) scale(.8);
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    transition-duration: .3s;
}

#imgContainer img:hover{
    transform: rotate(10deg) scale(1);
    border-radius: 20%;
}

/* -----------------------------------------------------
   Mobile-first base overrides and responsive breakpoints
   ----------------------------------------------------- */

/* Base: mobile */
.header2{
    padding: 6vh 4vh 0 4vh;
    font-size: 4vh;
}

#aboutArea{
    flex-direction: column;
    height: auto;
    padding: 6vh 0 6vh 0;
    gap: 4vh;
    justify-content: center;
}

.about{
    padding: 4vh;
    font-size: 1rem;
    /* transform: none; */
}

.aboutContainer h1{
    font-size: 6vh;
    padding-bottom: 3vh;
    /* transform: none; */
}

/* #imgContainer{ transform: none; } */
#imgContainer img{
    width: 60vw;
    height: 60vw;
    max-width: 420px;
    max-height: 420px;
}

/* Tablet */
@media (min-width: 600px){
    .header2{
        padding: 8vh 8vh 0 8vh;
        font-size: 4.5vh;
    }
    #aboutArea{
        padding: 8vh 0;
        gap: 5vh;
    }
    #imgContainer img{
        width: 45vw;
        height: 45vw;
        max-width: 480px;
        max-height: 480px;
    }
}

/* Desktop: restore original desktop sizing */
@media (min-width: 900px){
    .header2{
        padding: 10vh 10vh 0vh 10vh;
        font-size: 5vh;
    }
    #aboutArea{
        flex-direction: row;
        height: 90vh;
        padding: 10vh 0 10vh 0;
        justify-content: space-around;
        align-items: center;
    }
    .about{
        padding: 5vh;
        font-size: xx-large;
    }
    .aboutContainer h1{
        font-size: 10vh;
        padding-bottom: 5vh;
    }
    #imgContainer img{
        height: 50vh;
        width: 50vh;
    }
}
