html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    overflow-x: hidden;
}

.top{
    background-color: #EAEAEA;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 4em 0em 4em;
    gap: 1em;
}

.navButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    background-color: #EAEAEA;
    border: none;
    color: #252A34;
    transition: .3s;
    cursor: pointer;
}

.navButton:hover{
    color: #FF2E63;
} 

.navButton p{
    border-bottom: 2px solid #252A34;
    width: 0;
    padding: 0;
    margin: 0;
    transition: .3s;
}

.navButton:hover p{
    width: 100%;
}

.icon{
    margin-right: auto;
    margin-left: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition-duration: .2s;
}

.icon:hover{
    transform: scale(1.2);
    transition-duration: .2s;
}

.navLink{
    width: 2vw;
    height: 2vw;
}

h1{
    margin: 0;
    color: white;
}

#main{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content:space-around;
    align-items: center;
    padding: 0 0 10vh 0;
}

.mainContainer{
    background-color: #08D9D6;
    padding: 10vh;
    transition-duration: .5s;
    transform: rotate(20deg);
}

.mainBox{
    display: flex;
    flex-direction: column;
    animation: fromRight 1s ease forwards;
    padding: 20vh;
    height: fit-content;
    font-size: xx-large;
    background-color: #252A34;
    color: #FF2E63;
    transition-duration: .5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mainContainer:hover{
    transition-duration: .5s;
    background-color: #252A34;
}

.mainBox:hover{
    transition-duration: .5s;
    transform: rotate(20deg) scale(.5);
    background-color: #FF2E63;
    color: #252A34;
}

@keyframes fromRight{
    0%{
        transform: rotate(50deg);
        opacity: 0;
    }
    100%{
        transform: rotate(-20deg);
        opacity: 1;
    }
}

.text::before{
    animation: show 1s;
    animation-delay: .5s;
    opacity: 0;
    content: "I write code";
    animation-fill-mode: forwards;
}

@keyframes show {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

/* width */
::-webkit-scrollbar {
    width: 1vw;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #252A34; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FF2E63; 
}